<!DOCTYPE html>
<html lang="">
<body>
    <h1>Accept conditions ?</h1>
    <button onclick="callback()">
        yes
    </button>

    <script>
        import axios from "axios";

        async function callback() {
          let uri = '<%redirect_uri%>'

          axios.post({
            method: 'post',
            url: uri,
            data: {
              code: "mdrrrrr"
            }
          }).then(() => {})
          .catch((err) => {
            console.error(err)
          })
        }
    </script>
</body>
</html>
