<!DOCTYPE html>
<html lang="">
<body>
    <h1>Accept conditions ?</h1>
    <h1><%=redirect_uri%></h1>
    <button onclick="callback()">
        yes
    </button>

    <script>
        async function callback() {
          let uri = '<%=redirect_uri%>'
          console.log(uri)

          fetch(uri + '?code=HAAAA')
          .then((resp) => {
            console.log(resp)
            window.close()
          })
          .catch((err) => {
            console.error(err)
          })
        }
    </script>
</body>
</html>
